<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
<h3> For testing purposes: </h3>
<p> <%= link_to "Charity#index", charities_path %>
  <p> <%= link_to "Donor#index", donors_path %> </p>
