<div class="container my-5">
  <h1>Ki-For</h1>
  <p>This is a home page</p>
  <h3> For testing purposes: </h3>
  <p> <%= link_to "Charity#index", charities_path %>
    <p> <%= link_to "Donor#index", donors_path %> </p>
  </div>
