  .offer-image-placeholder {
  width: 200px;
  height: 200px;
  background-color: #f3f4f6;
  border: 2px dashed #d1d5db;
  border-radius: 12px;

  display: flex;
  align-items: center;
  justify-content: center;

  color: #9ca3af;
  font-size: 14px;
  }

  .offer-image {
    width: 200px;
    height: 200px;
    background-color: #f3f4f6;
    border: 2px solid #d1d5db;
    border-radius: 12px;

    display: flex;
    align-items: center;
    justify-content: center;

    color: #9ca3af;
    font-size: 14px;
  }
