.pill-urgent {
  background-color: $km--pill-urgent;
  font-weight: 300;
  min-width: 70px;
}

.pill-high {
  background-color: $km--pill-high;
  font-weight: 300;
  min-width: 70px;
}

.pill-medium {
  background-color: $km--pill-medium;
  font-weight: 300;
  min-width: 70px;
}

.pill-low {
  background-color: $km--pill-low;
  font-weight: 300;
  min-width: 70px;
}
