.pill-urgent {
  background-color: #d4026b;
  font-weight: 300;
  width: 70px;
}

.pill-high {
  background-color: #FE0181;
  font-weight: 300;
  width: 70px;
}

.pill-medium {
  background-color: #FF7DB4;
  font-weight: 300;
  width: 70px;
}

.pill-low {
  background-color: #FFA9C6;
  font-weight: 300;
  width: 70px;
}
