.km--progress {
  background-color: rgba($km--gray, 0.2);
  border-radius: var(--km-radius);
  overflow: hidden;
  border: 1px solid $km--gray;
  height: 8px !important;
}

.km--progress-bar {
  background-color: $km--primary-pink;
}

.km--progress-sm {
  height: 4px;
}
