// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

@import "components/alert";
@import "components/buttons";
@import "components/cards";
@import "components/footer";
@import "components/form";
@import "components/images";
@import "components/navbar";
@import "components/pills";
@import "components/tabs";
@import "components/typography";
// KT To do: Delete ↓
@import "components/request_card";

body {
  font-size: 1rem;
  background-color: $light-pink-gray;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}
